# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Catalog.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\babnishvyas\Documents\Work_Space\Personal_Projects\WebApi\Catalog\.idea\.idea.Catalog.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
